body {
  margin: 0;
  padding: 0;
  font-family: 'Karla';
  background-color: #fff;
  color: #000;
}

.light-mode {
  background-color: #fff;
  color: #000;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode {
  background-color: #121212;
  color: white;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.toggle-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  border: none;
  background-color: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease, color 0.5s ease;
  background-image: url('sun-moon.png');
  background-size: contain;
  background-position-y: center;
}

.landing-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Karla';
  
}

.landing-text {
  font-size: 2rem;
  font-weight: 600;
  
  text-align:center;
  line-height: 1em;
}

.start-button {
  width: 193px;
height: 52px;
left: 179px;
top: 314px;

background: #4D5B9E;
border-radius: 15px;
font-family: 'Karla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #F5F7FB;
cursor: pointer;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-top:5px;

}